@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<h1>@ViewData["Message"]</h1>
<div aria-label="breadcrumb" role="link">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
    </ol>
</div>

<section>
    <h2>Informações dos artefatos</h2>
    <ul>
        <li>Build: @Configuration["dadosdeploy:build"]</li>
        <li>Release: @Configuration["dadosdeploy:release"]</li>
        <li>Ambiente: @Configuration["dadosdeploy:ambiente"]</li>
        <li>Tipo de deploy: @Configuration["dadosdeploy:tipodeploy"]</li>
        <li>Plataforma: @Configuration["dadosdeploy:plataforma"]</li>
    </ul>
    <p>______________________________________________</p>
    <h2>Identity</h2>
    <ul>
        <li>Endereço: @Configuration["identity:issuer"]</li>
        <li>Aplicação: @Configuration["identity:realm"]</li>
    </ul>
    <p>______________________________________________</p>
    <h2>Dados da conexão</h2>
    <ul>
        <li>Endereço da API: @ViewData["EnderecoAPI"]</li>
        <li>@ViewData["status"]</li>
        <p></p>
        <li>@ViewData["conexao"]</li>
    </ul>
</section>
